body {
    background-color: rgba(66, 146, 146, 0.774);

}
footer {
    height: 25vh;
    background-color:#2f3542;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 20% 0 0;
    
}

.navbar{
    background-color: #2f3542 !important;
}
.navbar a {
    color: white !important;
}
.navbar-brand{
    margin-left: 20px;
}
#menu-footer-navigation {
    display: flex;
    list-style-type: none; 
}
li {
    padding: 10px !important;
    font-weight: 600;
}
footer a {
	color: white;
}

.crsl {
    margin-top: 10px;
    display:flex;
	justify-content: center;
    
}
.carousel-inner{
    height: 400px;
    width: 800px;
    border-radius: 10px;
}
.carousel-item .carousel-caption p{
    
    margin-bottom: 7%;
}

.kerkimi.ui.input {
    width: 70%;
}

input.prompt.nav {
    width: 70%;
    background-color: rgba(66, 146, 146, 0);
    color:white;

}
.kerkimi.nav.ui.input {
    border: 1px solid white;
    border-radius: 5px;


}
.kerkimi.nav.ui.input i {
  color: white;

}


